<!DOCTYPE html>
<html lang="en">
<head>
  
  {% block title %}<title>Local Library</title>{% endblock %}
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="https://kit.fontawesome.com/8a2ad1040f.js" crossorigin="anonymous"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  
  {% load static %}
  <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>

{% block sidebar %}
<div class="app">
  <header class="header">
      <a href="{% url 'index' %}"><div class="logo">eBook<span class="transform-text">tm</span></div></a>
    <nav class="menu-main-wrap">
        <ul class="menu-main-items">
          <li class="menu-main-item"><a href="{% url 'books' %}">All books</a></li>
          <li class="menu-main-item"><a href="{% url 'authors' %}">All authors</a></li>
          {% if user.is_authenticated %}

              {% if perms.catalog.can_mark_returned %}
              <li class="menu-main-item"><a href="{% url 'my-borrowed' %}">My Borrowed</a></li>
              {% endif %} 

              {% if user.is_staff %}
              <li class="menu-main-item" ><a href="{% url 'all-borrowed' %}">All borrowed</a></li>
              {% endif %} 

              
          {% endif %}
        </ul>
        <ul class="user-wrap">
            {% if user.is_authenticated %}
              <li class="user-wrap">
                  <img class="user-image" src='/static/images/photo_2019-11-11_20-02-33.jpg' alt='avatar' />    
                  <div class="user-info">
                    <div class="user-name">{{ user.get_username }}</div>
                    <div class="user-position">
                        {% if user.is_staff %}
                        Администратор
                        {% else %} Холоп
                        {% endif %}
                    </div>
                  </div>
              </li>

            <li class="login"><a href="{% url 'logout'%}?next={{request.path}}">Logout</a></li>   
            {% else %}
              <li class="login"><a href="{% url 'login'%}?next={{request.path}}">Login</a></li> 
          {% endif %}

        </ul>    
       
    </nav>
    
  </header>
<div class="content-block">
    {% block content %}
    {% endblock %}
  </div>

</div>
{% endblock %}
</body>
</html>
