{% extends "base_generic.html" %}

{% block content %}
<div class="main-block-wrap">
    <h1>Welcome to the LocalLibrary</h1>
    <ul class="info-wrap">
    <li class="icon-wrap"><i class="icon fas fa-book fa-2x"></i>{{ num_books }} books</li>
    <li class="icon-wrap"><i class="icon far fa-bookmark fa-2x"></i>{{ num_instances }} copies</li>
    <li class="icon-wrap"><i class="icon fas fa-bookmark fa-2x"></i>{{ num_instances_available }} copies available</li>
    <li class="icon-wrap"><i class="icon fas fa-address-book fa-2x"></i>{{ num_authors }} authors</li>
    </ul>
</div>


<div class="num-visits"> You have visited this page {{ num_visits }} times. </div>


{% endblock %}